body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background :rgb(55, 38, 1);

}

.container {
    width: 100%;
    height: 100%;
}

.leaves {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.leaves div {
    position: absolute;
    display: block;
}

.leaves div:nth-child(1) {
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}
.leaves div:nth-child(2) {
    left: 50%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}
.leaves div:nth-child(3) {
    left: 70%;
    animation: animate 25s linear infinite;
}
.leaves div:nth-child(4) {
    left: 0%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}
.leaves div:nth-child(5) {
    left: 85%;
    animation: animate 17s linear infinite;
    animation-delay: -10s;
}
.leaves div:nth-child(6) {
    left: 0%;
    animation: animate 13s linear infinite;
}
.leaves div:nth-child(7) {
    left: 15%;
    animation: animate 14s linear infinite;
}
.leaves div:nth-child(8) {
    left: 60%;
    animation: animate 15s linear infinite;
}

@keyframes animate {
    0% {
        top: -10%;
        opacity: 0;
        transform: translate(20px) rotate(0deg);
    }
    10% {
        opacity: 1;
    }
    20% {
        transform: translate(-20px) rotate(45deg);
    }
    40% {
        transform: translate(-20px) rotate(90deg);
    }
    60% {
        transform: translate(20px) rotate(135deg);
    }
    80% {
        transform: translate(-20px) rotate(180deg);
    }
    100% {
        top: 110%;
        transform: translate(-20px) rotate(225deg);
        z-index: 1;
    }
}

.leaves2 {
    transform: scale(2) rotateY(180deg);
    filter: blur(1px);
}

.leaves3 {
    transform: scale(0.8) rotateY(180deg);
    filter: blur(1px);
}

.leaves4 {
    transform: scale(1.8) rotateY(90deg);
    /* filter: blur(1px); */
    z-index: 1;
}

h1 {
    position: absolute;
    width: 100%;
    top: 50%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 7em;
    transform: translateY(-50%);
    color: #fff;
    z-index: -1;
}